# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Большие файлы данных
/public/media/*.geojson
/public/media/*.gml
fastapi_backend/static/layers/layer_category_39892.geojson
frontend/public/static/layer_category_39892.gml
fastapi_backend/static/layers/layer_category_39892.geojson